<div class="row mb-1">
    <div class="col" title="number of tags">
        {% include 'container_image/tags_count.html' %}
    </div>
</div>
<div class="row mb-1">
    <div class="col" title="date of creation of last tag">
        <i class="bi bi-cloud-arrow-up-fill"></i> {{ container_image['age_human_readable'] }} ago
    </div>
</div>
{% if container_image['size'] %}
    {% if container_image['project']['container_expiration_policy']['enabled'] %}
        {% set expiration_policy_icon='bi-recycle text-success' %}
        {% set expiration_policy_text='enabled' %}
    {% else %}
        {% set expiration_policy_icon='bi-infinity text-danger' %}
        {% set expiration_policy_text='disabled' %}
    {% endif %}
    <div class="row mb-2">
        <div class="col" title="summarized size of images with expiration policy {{ expiration_policy_text }}">
            <i class="bi bi-database-fill"></i> {{ container_image['size_human_readable'] }} <i class="bi {{ expiration_policy_icon }}"></i>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col" title="link to Gitlab repository of project">
        <a href="{{ container_image['project']['web_url'] }}"
           target="_blank"><i
                class="bi bi-git"></i> git repository</a>
    </div>
</div>
