<div class="row mb-1">
    <div class="col" title="number of tags">
        {% include 'container_image/tags_count.html' %}
    </div>
</div>
<div class="row mb-2">
    <div class="col" title="date of creation of last tag">
        <i class="bi bi-cloud-arrow-up-fill"></i> {{container_image['age_human_readable']
        }} ago
    </div>
</div>
<div class="row">
    <div class="col" title="link to Gitlab repository of project">
        <a href="{{ container_image['project']['web_url']}}"
           target="_blank"><i
                class="bi bi-git"></i> git repository</a>
    </div>
</div>
